body{
    background: #fff6e6;
}
.headeng{
    color: #3A2E2B;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.thaihead{
    color: #AF6B52;
    text-align: center;
    font-style: italic;
    font-family: 'Prompt', sans-serif;
}
.text{
    color: #3A2E2B;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}
.text2{
    color: #3A2E2B;
    font-family: 'Prompt', sans-serif;
}
.eng{
    color: #3A2E2B;
    font-style: italic;
    font-weight: bold;
}
.box{
    border: solid #C8B6A4;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 10px;
}